<div class="jumbotron">
    <div class="container">
        <div class="page-header text-center">
            <h1>TagSpy</h1>
        </div>
        <p>A demonstration of several technologies: real-time web backend that can spy on InstaGram content from a geographical region or a particular hashtag. Also, testing out a few ideas such as using azure tables for identity, angularjs with signalR, and OAuth bearer tokens for authentication</p>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        &nbsp;
    </div>
    <div class="col-md-4">
        <h2>Login</h2>
        <p class="text-primary">If you already have an account, click below to sign in.</p>
        <p><a class="btn btn-info" href="#/login" role="button">Login &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Sign Up</h2>
        <p class="text-primary">Click below to create a new account.</p>
        <p><a class="btn btn-info" href="#/signup" role="button">Sign Up &raquo;</a></p>
    </div>
    <div class="col-md-2">
        &nbsp;
    </div>
</div>